<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table cellpadding="0" cellspacing="0" border="1" style="font-family:AP;font-size: 8.5pt;border: 1px solid black;border-collapse: collapse;">
  <col width="166" />
  <col width="61" span="3" />
  <col width="70" />
  <tr>
    <td width="166" rowspan="3" align="center" bgcolor="#CCCCCC"><strong>Transfer</strong></td>
    <td colspan="8" align="center" bgcolor="#99CCFF"><strong>Q1</strong></td>
    <td width="70" rowspan="3" align="center" bgcolor="#FF9966"><strong>QTD</strong></td>
    <td colspan="6" align="center" bgcolor="#FFCCFF"><strong>Estimate Income</strong></td>
    <td width="70" rowspan="3" align="center" bgcolor="#99CCFF"><strong>QTD + Est.</strong></td>
    <td width="70" rowspan="3" align="center" bgcolor="#FF9966"><strong>Diff.</strong></td>
  </tr>
  <tr>
    <td colspan="2" align="center" bgcolor="#99CCFF"><strong>Jan</strong></td>
    <td colspan="2" align="center" bgcolor="#99CCFF"><strong>Feb</strong></td>
    <td colspan="2" align="center" bgcolor="#99CCFF"><strong>Mar</strong></td>
    <td colspan="2" align="center" bgcolor="#99CCFF"><strong>Total Q1</strong></td>
    <td width="70" rowspan="2" align="center" bgcolor="#FFCCFF"><strong>Est</strong>#1</td>
    <td width="70" rowspan="2" align="center" bgcolor="#FFCCFF"><strong>Est</strong>#2</td>
    <td width="70" rowspan="2" align="center" bgcolor="#FFCCFF"><strong>Est</strong>#3</td>
    <td width="70" rowspan="2" align="center" bgcolor="#FFCCFF"><strong>Est</strong>#4</td>
    <td width="70" rowspan="2" align="center" bgcolor="#FFCCFF"><strong>Est#5</strong></td>
    <td width="70" rowspan="2" align="center" bgcolor="#FFCCFF"><strong>Total Est</strong></td>
  </tr>
  <tr>
    <td width="61" align="center" bgcolor="#99CCFF"><strong>Target</strong></td>
    <td width="61" align="center" bgcolor="#99CCFF"><strong>Actual</strong></td>
    <td width="61" align="center" bgcolor="#99CCFF"><strong>Target</strong></td>
    <td width="61" align="center" bgcolor="#99CCFF"><strong>Actual</strong></td>
    <td width="61" align="center" bgcolor="#99CCFF"><strong>Target</strong></td>
    <td width="61" align="center" bgcolor="#99CCFF"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#99CCFF"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#99CCFF"><strong>Actual</strong></td>
  </tr>
  <tr>
    <td align="left"><strong>AP (Excl.JV)</strong></td>
    <td align="right" >&nbsp;</td>
    <td align="right" >&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><strong>JV (100%)</strong></td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
  <tr>
    <td align="right"><p><em><strong>Total</strong></em></p></td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" bgcolor="#999999"><p>&nbsp;</p></td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
    <td align="right" bgcolor="#999999">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><strong>BG1-SDH</strong></td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><strong>BG2-BKM &amp;Pleno</strong></td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><strong>BG3-Condo1 (Excl.JV)</strong></td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><strong>BG4-Condo2 (Excl.JV)</strong></td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><strong>BG3-JV (100%)</strong></td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><strong>BG4-JV (100%)</strong></td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
</table>
</body>
</html>
