<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table cellpadding="0" cellspacing="0" border="1" style="font-family:AP;font-size: 8.5pt;border: 1px solid black;border-collapse: collapse;">
  <col width="166" />
  <col width="61" span="3" />
  <col width="70" />
  <tr>
    <td width="166" rowspan="3" align="center" bgcolor="#CCCCCC"><strong>{0}</strong></td>
    <td colspan="4" align="center" bgcolor="#CCCCCC"><strong>{1}</strong></td>
    <td width="70" colspan="3" rowspan="2" align="center" bgcolor="#CCCCCC"><strong>{5}</strong></td>
    <td width="70" rowspan="3" align="center" bgcolor="#CCCCCC"><strong>QTG</strong></td>
    <td colspan="13" align="center" bgcolor="#CCCCCC"><strong>{6}</strong></td>
  </tr>
  <tr>
    <td width="61" align="center" bgcolor="#CCCCCC"><strong>{2}</strong></td>
    <td width="61" align="center" bgcolor="#CCCCCC"><strong>{3}</strong></td>
    <td width="61" align="center" bgcolor="#CCCCCC"><strong>{4}</strong></td>
    <td width="70" rowspan="2" align="right" bgcolor="#CCCCCC"><strong>Total</strong></td>
    <td colspan="2" align="center" bgcolor="#CCCCCC"><strong>{7}</strong></td>
    <td colspan="2" align="center" bgcolor="#CCCCCC"><strong>{8}</strong></td>
    <td colspan="2" align="center" bgcolor="#CCCCCC"><strong>{9}</strong></td>
    <td colspan="2" align="center" bgcolor="#CCCCCC"><strong>{10}</strong></td>
    <td colspan="2" align="center" bgcolor="#CCCCCC"><strong>{11}</strong></td>
    <td colspan="3" align="center" bgcolor="#CCCCCC"><strong>Full Month</strong></td>
  </tr>
  <tr>
    <td width="61" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="61" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="61" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Var</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Var</strong></td>
  </tr>
  <tr>
    <td align="left"><strong>Condo AP</strong></td>
    <td align="right">1,264</td>
    <td align="right">1,336</td>
    <td align="right">742</td>
    <td align="right">3,342</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right" bgcolor="#00FF00">1,264</td>
    <td align="right">&nbsp;</td>
    <td align="right" bgcolor="#FF0000">1,336</td>
    <td align="right">&nbsp;</td>
    <td align="right" bgcolor="#FF0000">742</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" bgcolor="#FFFFFF"><p><em><strong>&nbsp;&nbsp;&nbsp;CD1</strong></em></p></td>
    <td align="right" bgcolor="#FFFFFF"><em>560</em></td>
    <td align="right" bgcolor="#FFFFFF"><em>631</em></td>
    <td align="right" bgcolor="#FFFFFF"><em>387</em></td>
    <td align="right" bgcolor="#FFFFFF"><em>1,577</em></td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF"><em>560</em></td>
    <td align="right">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF"><em>631</em></td>
    <td align="right">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF"><em>387</em></td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><p><em><strong>&nbsp;&nbsp;&nbsp;CD2</strong></em></p></td>
    <td align="right" bgcolor="#FFFFFF"><em>704</em></td>
    <td align="right" bgcolor="#FFFFFF"><em>705</em></td>
    <td align="right" bgcolor="#FFFFFF"><em>355</em></td>
    <td align="right" bgcolor="#FFFFFF"><em>1,765</em></td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF"><em>704</em></td>
    <td align="right">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF"><em>705</em></td>
    <td align="right">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF"><em>355</em></td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
    <td align="right" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><strong>Total AP (ALL BG)</strong></td>
    <td align="right">472</td>
    <td align="right">452</td>
    <td align="right">301</td>
    <td align="right">1,225</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">472</td>
    <td align="right">&nbsp;</td>
    <td align="right" bgcolor="#FFFF00">452</td>
    <td align="right">&nbsp;</td>
    <td align="right">301</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
</table>
</body>
</html>
