<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table cellpadding="0" cellspacing="0" border="1" style="font-family:AP;font-size: 8.5pt;border: 1px solid black;border-collapse: collapse;">
  <col width="166" />
  <col width="61" span="3" />
  <col width="70" />
  <tr>
    <td width="166" rowspan="3" align="center" bgcolor="#CCCCCC"><strong>{0}</strong></td>
    <td colspan="4" align="center" bgcolor="#CCCCCC"><strong>{1}</strong></td>
    <td width="70" colspan="3" rowspan="2" align="center" bgcolor="#CCCCCC"><strong>{5}</strong></td>
    <td width="70" rowspan="3" align="center" bgcolor="#CCCCCC"><strong>QTG</strong></td>
    <td colspan="13" align="center" bgcolor="#CCCCCC"><strong>{6}</strong></td>
  </tr>
  <tr>
    <td width="61" align="center" bgcolor="#CCCCCC"><strong>{2}</strong></td>
    <td width="61" align="center" bgcolor="#CCCCCC"><strong>{3}</strong></td>
    <td width="61" align="center" bgcolor="#CCCCCC"><strong>{4}</strong></td>
    <td width="70" rowspan="2" align="right" bgcolor="#CCCCCC"><strong>Total</strong></td>
    <td colspan="2" align="center" bgcolor="#CCCCCC"><strong>{7}</strong></td>
    <td colspan="2" align="center" bgcolor="#CCCCCC"><strong>{8}</strong></td>
    <td colspan="2" align="center" bgcolor="#CCCCCC"><strong>{9}</strong></td>
    <td colspan="2" align="center" bgcolor="#CCCCCC"><strong>{10}</strong></td>
    <td colspan="2" align="center" bgcolor="#CCCCCC"><strong>{11}</strong></td>
    <td colspan="3" align="center" bgcolor="#CCCCCC"><strong>Full Month</strong></td>
  </tr>
  <tr>
    <td width="61" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="61" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="61" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Var</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Target</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Actual</strong></td>
    <td width="70" align="center" bgcolor="#CCCCCC"><strong>Var</strong></td>
  </tr>
  <tr>
    <td align="left"><strong>Pre-Sale</strong></td>
    <td align="right" >{12}</td>
    <td align="right">{13}</td>
    <td align="right">{14}</td>
    <td align="right">{15}</td>
    <td align="right">{16}</td>
    <td align="right" {33}>{17}</td>
    <td align="right">{18}</td>
    <td align="right">{19}</td>
    <td align="right">{20}</td>
    <td align="right" {34}>{21}</td>
    <td align="right">{22}</td>
    <td align="right" {35}>{23}</td>
    <td align="right">{24}</td>
    <td align="right" {36}>{25}</td>
    <td align="right">{26}</td>
    <td align="right" {37}>{27}</td>
    <td align="right">{28}</td>
    <td align="right" {38}>{29}</td>
    <td align="right">{30}</td>
    <td align="right" {39}>{31}</td>
    <td align="right">{32}</td>
  </tr>
  <tr>
    <td align="left"><strong>&nbsp;&nbsp;&nbsp;CD1</strong></td>
    <td align="right">{40}</td>
    <td align="right">{41}</td>
    <td align="right">{42}</td>
    <td align="right">{43}</td>
    <td align="right">{44}</td>
    <td align="right" {61}>{45}</td>
    <td align="right">{46}</td>
    <td align="right">{47}</td>
    <td align="right">{48}</td>
    <td align="right" {62}>{49}</td>
    <td align="right">{50}</td>
    <td align="right" {63}>{51}</td>
    <td align="right">{52}</td>
    <td align="right" {64}>{53}</td>
    <td align="right">{54}</td>
    <td align="right" {65}>{55}</td>
    <td align="right">{56}</td>
    <td align="right" {66}>{57}</td>
    <td align="right">{58}</td>
    <td align="right" {67}>{59}</td>
    <td align="right">{60}</td>
  </tr>
  <tr>
    <td align="left" bgcolor="#FFFFFF"><p><em><strong>&nbsp;&nbsp;&nbsp;CD2</strong></em></p></td>
    <td align="right" bgcolor="#FFFFFF"><em>{68}</em></td>
    <td align="right" bgcolor="#FFFFFF"><em>{69}</em></td>
    <td align="right" bgcolor="#FFFFFF"><em>{70}</em></td>
    <td align="right" bgcolor="#FFFFFF"><em>{71}</em></td>
    <td align="right" bgcolor="#FFFFFF">{72}</td>
    <td align="right" {89}>{73}</td>
    <td align="right" bgcolor="#FFFFFF">{74}</td>
    <td align="right" bgcolor="#FFFFFF">{75}</td>
    <td align="right">{76}</td>
    <td align="right" {90}><em>{77}</em></td>
    <td align="right">{78}</td>
    <td align="right" {91}><em>{79}</em></td>
    <td align="right">{80}</td>
    <td align="right" {92}><em>{81}</em></td>
    <td align="right" bgcolor="#FFFFFF">{82}</td>
    <td align="right" {93}>{83}</td>
    <td align="right" bgcolor="#FFFFFF">{84}</td>
    <td align="right" {94}>{85}</td>
    <td align="right" bgcolor="#FFFFFF">{86}</td>
    <td align="right" {95}>{87}</td>
    <td align="right" bgcolor="#FFFFFF">{88}</td>
  </tr>
  <tr>
    <td align="left"><p><em><strong>Transfer</strong></em></p></td>
    <td align="right" bgcolor="#FFFFFF"><em>{96}</em></td>
    <td align="right" bgcolor="#FFFFFF"><em>{97}</em></td>
    <td align="right" bgcolor="#FFFFFF"><em>{98}</em></td>
    <td align="right" bgcolor="#FFFFFF"><em>{99}</em></td>
    <td align="right" bgcolor="#FFFFFF">{100}</td>
    <td align="right" {117}>{101}</td>
    <td align="right" bgcolor="#FFFFFF">{102}</td>
    <td align="right" bgcolor="#FFFFFF">{103}</td>
    <td align="right">{104}</td>
    <td align="right" {118}><em>{105}</em></td>
    <td align="right">{106}</td>
    <td align="right" {119}><em>{107}</em></td>
    <td align="right">{108}</td>
    <td align="right" {120}><em>{109}</em></td>
    <td align="right" bgcolor="#FFFFFF">{110}</td>
    <td align="right" {121}>{111}</td>
    <td align="right" bgcolor="#FFFFFF">{112}</td>
    <td align="right" {122}>{113}</td>
    <td align="right" bgcolor="#FFFFFF">{114}</td>
    <td align="right" {123}>{115}</td>
    <td align="right" bgcolor="#FFFFFF">{116}</td>
  </tr>
  <tr>
    <td align="left"><strong>&nbsp;&nbsp;&nbsp;CD1</strong></td>
    <td align="right">{124}</td>
    <td align="right">{125}</td>
    <td align="right">{126}</td>
    <td align="right">{127}</td>
    <td align="right">{128}</td>
    <td align="right" {145}>{129}</td>
    <td align="right">{130}</td>
    <td align="right">{131}</td>
    <td align="right">{132}</td>
    <td align="right" {146}>{133}</td>
    <td align="right">{134}</td>
    <td align="right" {147}>{135}</td>
    <td align="right">{136}</td>
    <td align="right" {148}>{137}</td>
    <td align="right">{138}</td>
    <td align="right" {149}>{139}</td>
    <td align="right">{140}</td>
    <td align="right" {150}>{141}</td>
    <td align="right">{142}</td>
    <td align="right" {151}>{143}</td>
    <td align="right">{144}</td>
  </tr>
  <tr>
    <td align="left"><strong>&nbsp;&nbsp;&nbsp;CD2</strong></td>
    <td align="right">{152}</td>
    <td align="right">{153}</td>
    <td align="right">{154}</td>
    <td align="right">{155}</td>
    <td align="right">{156}</td>
    <td align="right" {173}>{157}</td>
    <td align="right">{158}</td>
    <td align="right">{159}</td>
    <td align="right">{160}</td>
    <td align="right" {174}>{161}</td>
    <td align="right">{162}</td>
    <td align="right" {175}>{163}</td>
    <td align="right">{164}</td>
    <td align="right" {176}>{165}</td>
    <td align="right">{166}</td>
    <td align="right" {177}>{167}</td>
    <td align="right">{168}</td>
    <td align="right" {178}>{169}</td>
    <td align="right">{170}</td>
    <td align="right" {179}>{171}</td>
    <td align="right">{172}</td>
  </tr>
</table>
</body>
</html>
